<strong>Olá, {{ organizer }}</strong>
<p>Houve um registro para a meetup: <strong>{{ meetupTitle }}</strong></p>
<p><strong>Dados do Inscrito:</strong></p>
<p>
  <strong>Nome:</strong> {{ userName }} <br />
  <strong>email:</strong> {{ userEmail }} <br />
</p>
